body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 43%, rgba(0,212,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам оборачиваться */
  height: 95%; /* Высота контейнера */
  width: 95%; /* Ширина контейнера */
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px; /* Внутренние отступы */
  box-sizing: border-box; /* Учитывает внутренние отступы и границы при расчете ширины и высоты */
}

.item {
  flex: 0 1 40%; /* Задает ширину элементов примерно 48% от ширины контейнера, чтобы было по два элемента в строке с отступами */
  margin: 1%; /* Отступы между элементами */
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
  text-align: center;
  padding: 20px;
  font-size: clamp(16px, 2vw, 24px); /* Адаптивный размер шрифта */
  color: black; /* Цвет текста */
  display: flex; /* Включает Flexbox для элементов */
  justify-content: center; /* Центрирует текст по горизонтали */
  align-items: center; /* Центрирует текст по вертикали */
}
