body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--tg-theme-secondary-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам оборачиваться */
  justify-content: space-around;
  height: 95%; /* Высота контейнера */
  width: 95%; /* Ширина контейнера */
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px; /* Внутренние отступы */
  box-sizing: border-box; /* Учитывает внутренние отступы и границы при расчете ширины и высоты */
}

.item {
  flex: 0 1 calc(50% - 20px); /* Задает ширину элементов примерно 50% от ширины контейнера, с учетом отступов */
  margin: 10px; /* Отступы между элементами */
  border: 1px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
  text-align: center;
  padding: 20px;
  font-size: clamp(16px, 2vw, 24px); /* Адаптивный размер шрифта */
  font-weight: 900;
  color: var(--tg-color-scheme); /* Цвет текста */
  display: flex; /* Включает Flexbox для элементов */
  justify-content: center; /* Центрирует текст по горизонтали */
  align-items: center; /* Центрирует текст по вертикали */
  box-sizing: border-box; /
}
